
body{
    background-image: linear-gradient(to right, rgba(26, 25, 31, 0.8), rgba(26, 25, 31, 0.6)), url(./assets/hero.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}


/* Navbar.....................................*/
.navbar{
    background-color: rgba(32, 35, 44, 0.5);
}

.navbar-toggler:focus, 
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
/* Cart and Logo.......................................*/
.cart
{
    width:25px;
     height: 25px;
}



/* Account info.......................................*/
.wrapper .header{
	width: 100%;
	height: 50px;
	background: #e36686;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
}

.cards_wrap{
	padding: 20px;
	margin-left: 320px;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 90px));
    max-width: 1200px;
    margin:0 auto;
    padding:1rem 2rem;
    
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 25%;
}

.cards_wrap .card_inner{
	background: #ffffff;
	border-radius: 5px;
	padding: 14px 20px;
	min-width: 225px;
	width: 100%;
}

.cards_wrap .card_inner:hover{
    background: #BDBDBD;
}
.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .role_name{
	color: #e36686;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #b6c0c2;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
}
.cards_wrap .card_item .medium{
	font-size: 20px;
    font-weight: 400;
	line-height: 24px;
	color: black;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: black;
}

@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 10%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
    
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}




/* Our Product....................................*/
.container{
    max-width: 1200px;
    margin:0 auto;
    padding:1rem 2rem;
    
 }
 
 .container .title{
    font-size: 3.5rem;
    color: blue;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
 }
 .container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 90px));
    gap:2rem;
 }
 .container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
    border-radius: 5px;
    
 } 
 
 .container .products-container .product:hover{
    outline: .2rem solid #C2185B;
    outline-offset: 0;
 }
 
 .container .products-container .product img{
    height: 25rem;
 }

/* Form.........................................*/
.wrap{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 460px;
            background-color: #ffffff;
            padding-left: 50px;
            padding-top: 30px;
            padding-bottom: 60px;
            
}
.p1{
            font-size: 30px;
            font-weight: bold;
            margin-top: -10px;
        }
.textbox{
            border: 1px solid #ffffff;
            font-size: 18px;
            outline: none;
            border-bottom: 2px solid #adadad;
            padding-top: 25px;
            width: 350px;
            background: transparent;
}
.t{
    padding-top: 15px;
}
.s{
    width: 350px;
    padding: 12px, 20px;
    margin: 8px 0;
    border: 1px solid #696969;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e4e1e1;
}
.submit{
            width: 120px;
            background-color: #005da6;
            color: white;
            font-size: 18px;
            padding: 7px;
            border: 1px solid #005da6;
            margin-left: 240px;
            margin-top: 15px;
            opacity: 0.9;
            margin-top: 50px;
        }
.submit:hover{
            cursor: pointer;
            opacity: 1;
        }

/* For Dashboard................................*/
.content{
    font-weight: lighter;
    text-align: left;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    display: table-cell;
    padding: 0 6.2% 6.2%;
    color: #f5f5f5;
    font-weight: 100;
    -webkit-animation: transitionIn 2s;
    animation: transitionIn 2s;
}
.big{
    padding: 1px;
    margin: 1px;
    font-size: 400%;
    color: #005da6;
}

/* For Mobile Screen................................*/
@media only screen and (max-width: 768px) {
    .content {
        padding-top: 0vh;
        text-align: center;
        padding-left: 0%;
    }

    .navbar
    {
        background-color: #171B27;
    }

    .big{
        text-align:center;
        font-size:270%;
    }

    .medium{
        text-align:center;
        font-size:190%;
    }
}

.navbar-brand{
    cursor: pointer;
}


/* Try ................................*/










