body {
    background-image: linear-gradient(to right, rgba(26, 25, 31, 0.8), rgba(26, 25, 31, 0.6)), url(./assets/hero.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Maven Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}


/* Navbar.....................................*/
.navbar {
    background-color: rgba(32, 35, 44, 0.5);
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
.navbar-brand {
    cursor: pointer;
}

/* Cart and Logo.......................................*/
.cart {
    width: 25px;
    height: 25px;
}

/* Form.........................................*/
  .box{
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  }
  .form{
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #FFF;
  }
  .form.signup{
  opacity: 0;
  pointer-events: none;
  }
  .forms.show-signup .form.signup{
  opacity: 1;
  pointer-events: auto;
  }
  .forms.show-signup .form.login{
  opacity: 0;
  pointer-events: none;
  }
  header{
  font-size: 30px;
  font-weight: 600;
  color: #232836;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  }
  form{
  margin-top: 30px;
  }
  .form .field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
  }
  .field input,
  .field button{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  }
  .field input{
  outline: none;
  padding: 0 15px;
  border: 1px solid#CACACA;
  }
  .field input:focus{
  border-bottom-width: 2px;
  }
  .eye-icon{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
  }
  .field button{
  color: #fff;
  background-color: #0171d3;
  transition: all 0.3s ease;
  cursor: pointer;
  }
  .field button:hover{
  background-color: #016dcb;
  }
  .form-link{
  text-align: center;
  margin-top: 10px;
  }
  .form-link span,
  .form-link a{
  font-size: 14px;
  font-weight: 400;
  color: #232836;
  }
  .form a{
  color: #0171d3;
  text-decoration: none;
  }
  .form-content a:hover{
  text-decoration: underline;
  }
  .line{
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
  }
  .line::before{
  content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #8b8b8b;
  padding: 0 15px;
  }
  .media-options a{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
 .pt{
  margin-top: 28px;
 }
  img.google-img{
  height: 20px;
  width: 20px;
  object-fit: cover;
  }
  a.google{
  border: 1px solid #CACACA;
  }
  a.google span{
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
  }

  .button, input, optgroup, select, textarea {
    height: 40px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 370px;
}

/* For Card Desigine...............................*/

  span{
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  .section-head{
    margin-bottom: 60px;
  }
  .section-head h4{
    position: relative;
    padding: 0;
    color:#f91942;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size:34px;
    font-weight:700;
    text-align: center;
    text-transform: none;
    margin-bottom: -25px;
  }
  .section-head h4::before{
    content:'';
    width:60px;
    height:3px;
    background:#f91942;
    position:absolute;
    bottom:-10px;
    left:0;
    right:0;
    margin:0 auto;
  }
  .section-head h4 span{
    font-weight: 700;
    padding-bottom: 5px;
    color:#ffffff;
  } 
  .section-head p{
    color:#818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .item{
    word-break: break-all;
    background:#fff;
    text-align: center;
    padding:30px 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border:5px solid rgba(0,0,0,0.07);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover{
    background:#f91942;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover .item,
  .item:hover span.icon{
    background:#fff;
    border-radius: 10px;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover h6,
  .item:hover p{
    word-break: break-all;
    color:#fff;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item .icon{
    font-size:40px;
    margin-bottom: 25px;
    color:#f91942;
    width:90px;
    height:90px;
    line-height: 96px;
    border-radius: 50px;
  }
  .item .feature_box_col_one{
    background:rgba(247,198,5,0.2);
    color:#f91942;
  }
  .item .feature_box_col_two{
    background: rgba(255, 77, 28, 0.15);
    color:#f91942;
  }
  .item .feature_box_col_three{
    background:rgba(0,147,38,0.15);
    color:#f91942;
  }
  .item .feature_box_col_four{
    background:rgba(0,108,255,0.15);
    color:#f91942;
  }
  .item .feature_box_col_five{
    background:rgba(146,39,255,0.15);
    color:#f91942;
  }
  .item .feature_box_col_six{
    background:rgba(23,39,246,0.15);
    color:#f91942;
  }
  .item p{
    font-size: 15px;
    line-height: 26px;
  }
  .item h6{
    margin-bottom: 20px;
    color:#2f2f2f;
  }
  .round{
    width: 100px;
  }
.a-link-normal{
    text-decoration: none;
    color: #007185;
}

/* For Tabel................................*/
label {
  display: inline-block;
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.dataTables_info{
  color: #e4e1e1;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.table.dataTable thead th,table.dataTable thead td,table.dataTable tfoot th,table.dataTable tfoot td {
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
}
/* For Mobile Screen................................*/
@media only screen and (max-width: 768px) {
    .content {
        padding-top: 0vh;
        text-align: center;
        padding-left: 0%;
    }

    .navbar {
        background-color: #171B27;
    }

    .big {
        text-align: center;
        font-size: 270%;
    }

    .medium {
        text-align: center;
        font-size: 190%;
    }
}

p.item {
  word-break: break-all;
}