body {
    background-image: linear-gradient(to right, rgba(26, 25, 31, 0.8), rgba(26, 25, 31, 0.6)), url(./assets/hero.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Maven Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}


/* Navbar.....................................*/
.navbar {
    background-color: rgba(32, 35, 44, 0.5);
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
.navbar-brand {
    cursor: pointer;
}

/* Cart and Logo.......................................*/
.cart {
    width: 25px;
    height: 25px;
}


/* Form.........................................*/
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    background-color: #ffffff;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 60px;

}

.large{
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}
.small{
    font-size: 20px;
}

.textbox {
    border: 1px solid #ffffff;
    font-size: 18px;
    outline: none;
    border-bottom: 2px solid #adadad;
    padding-top: 25px;
    width: 350px;
    background: transparent;
}

.state{
    padding-top: 15px;
}

.select{
    width: 350px;
    padding: 12px, 20px;
    margin: 8px 0;
    border: 1px solid #696969;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e4e1e1;
}

.submit {
    width: 120px;
    background-color: #005da6;
    color: white;
    font-size: 18px;
    padding: 7px;
    border: 1px solid #005da6;
    margin-left: 240px;
    margin-top: 15px;
    opacity: 0.9;
    margin-top: 50px;
}

.submit:hover {
    cursor: pointer;
    opacity: 1;
}

/* For Card Desigine...............................*/

  span{
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  .section-head{
    margin-bottom: 60px;
  }
  .section-head h4{
    position: relative;
    padding: 0;
    color:#f91942;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size:34px;
    font-weight:700;
    text-align: center;
    text-transform: none;
    margin-bottom: -25px;
  }
  .section-head h4::before{
    content:'';
    width:60px;
    height:3px;
    background:#f91942;
    position:absolute;
    bottom:-10px;
    left:0;
    right:0;
    margin:0 auto;
  }
  .section-head h4 span{
    font-weight: 700;
    padding-bottom: 5px;
    color:#ffffff;
  } 
  .section-head p{
    color:#818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .item{
    word-break: break-all;
    background:#fff;
    text-align: center;
    padding:30px 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border:5px solid rgba(0,0,0,0.07);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover{
    background:#f91942;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover .item,
  .item:hover span.icon{
    background:#fff;
    border-radius: 10px;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover h6,
  .item:hover p{
    word-break: break-all;
    color:#fff;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item .icon{
    font-size:40px;
    margin-bottom: 25px;
    color:#f91942;
    width:90px;
    height:90px;
    line-height: 96px;
    border-radius: 50px;
  }
  .item .feature_box_col_one{
    background:rgba(247,198,5,0.2);
    color:#f91942;
  }
  .item .feature_box_col_two{
    background: rgba(255, 77, 28, 0.15);
    color:#f91942;
  }
  .item .feature_box_col_three{
    background:rgba(0,147,38,0.15);
    color:#f91942;
  }
  .item .feature_box_col_four{
    background:rgba(0,108,255,0.15);
    color:#f91942;
  }
  .item .feature_box_col_five{
    background:rgba(146,39,255,0.15);
    color:#f91942;
  }
  .item .feature_box_col_six{
    background:rgba(23,39,246,0.15);
    color:#f91942;
  }
  .item p{
    font-size: 15px;
    line-height: 26px;
  }
  .item h6{
    margin-bottom: 20px;
    color:#2f2f2f;
  }
  .round{
    width: 100px;
  }
.a-link-normal{
    text-decoration: none;
    color: #007185;
}

/* For Tabel................................*/
label {
  display: inline-block;
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.dataTables_info{
  color: #e4e1e1;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.table.dataTable thead th,table.dataTable thead td,table.dataTable tfoot th,table.dataTable tfoot td {
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
}
/* For Mobile Screen................................*/
@media only screen and (max-width: 768px) {
    .content {
        padding-top: 0vh;
        text-align: center;
        padding-left: 0%;
    }

    .navbar {
        background-color: #171B27;
    }

    .big {
        text-align: center;
        font-size: 270%;
    }

    .medium {
        text-align: center;
        font-size: 190%;
    }
}

p.item {
  word-break: break-all;
}