
body,
html {
    height: 100%;
    margin: 0;   
    font-weight: lighter;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -webkit-font-smoothing: antialiased;
    font-family: 'Rajdhani', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none;
}
::-webkit-scrollbar
{
    width: 0;
}
body {
    background: linear-gradient(
        rgba(24, 26, 28, 0.3), 
        rgba(24, 26, 28, 0.3)),
        url(../assets/hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;
    animation: transitionIn 1.00s;
}

.animated{
    animation: transitionIn 1.00s;
}

@keyframes transitionIn{
    from{
        opacity:0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

::-webkit-scrollbar{
    width: 0px;
}
/* Cart's Logo and Empty Cart.......................................*/
.cart {
    width: 25px;
}

.ac-badge-text-secondary {
    line-height: 22px;
    margin-right: 8px;
    font-family: "Amazon Ember",Arial!important;
}
.empty_cart
{
    width: 100px;
    text-align: center;
    
}
.cover {
    width: 100vw;
    height: 85vh;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    letter-spacing: .05rem;
    animation: transitionIn .4s forwards;
}
.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
}
.cover
{
    padding-left: 7dvh;
    letter-spacing: .05rem;
    text-align: left;
    font-family: Tilt Neon,cursive;
}