
body,
html {
    height: 100%;
    margin: 0;   
    font-weight: lighter;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -webkit-font-smoothing: antialiased;
    font-family: 'Thasadith', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none;
}
::-webkit-scrollbar
{
    width: 0;
}
body {
    background: linear-gradient(
        rgba(26, 26, 28, 0.6), 
        rgba(26, 26, 28, 0.6)),
        url(../assets/hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;
    animation: transitionIn 1.00s;
}

.animated{
    animation: transitionIn 1.00s;
}

@keyframes transitionIn{
    from{
        opacity:0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

::-webkit-scrollbar{
    width: 0px;
}
/* Cart and Logo.......................................*/
.cart {
    width: 25px;
}
.r{
    width: 15px;
}

.ac-orange {
    color: #F69931;
}
.ac-orange {
    color: #F69931;
}
.ac-badge-text-secondary {
    line-height: 22px;
    margin-right: 8px;
    font-family: "Amazon Ember",Arial!important;
}
.empty_cart
{
    width: 100px;
    text-align: center;
    
}

/* Mobile Responsive......................................*/
@media only screen and (max-width: 768px) {
    .content {
        padding-top: 0vh;
        text-align: center;
        padding-left: 0%;
    }


    .big{
        text-align:center;
        font-size:270%;
    }

    .medium{
        text-align:center;
        font-size:190%;
    }
    .navbar-toggler-icon{
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 100%;

}
}